body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  background: url("../images/bg.png");
}

* {
  box-sizing: border-box;
  /* text-shadow: 0px 5px 5px #0a0a0a; */
  /* text-shadow: 1px 1px 2px black, 0 0 1em gray, 0 0 0.2em white; */
}

/* general */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
h4,
p {
  /* margin-bottom: 20px; */
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: darkslateblue;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #dddddd;
}


/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #ffffff;
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff !important;
  text-align: center;
  text-decoration: none;
  background: darkslateblue;
}

nav {
  float: right;
  margin-top: 25px;
}

nav {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

/* hyperlinks */

a:link {
  text-decoration: none;
  color:#777777;
}

a:visited {
  text-decoration: none;
  color:#141414;
}

a:hover {
  text-decoration: none !important;
  color: darkslateblue !important;
  font-weight: bold;
}

/* footer */

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 8px solid darkslateblue;
  height: 50px;
}

h3, h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
}

/* main */

#main-container {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
}

.main-section {
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin: 20px 0 25px;
  overflow: 0 auto;
  padding-right: 10px;
  
}

/* .work:nth-child(even) {
  margin-right: 40px;
} */

.work img {
  width: 100%;
  /* height: 50%; */
  height: auto;
  border: 0 none;
  opacity: 0.7;
  padding-bottom: 25px;
}

img {
  width: 100%;
  /* height: 59% */
  /* height: 150px; */
}

.work h3, h4{
  position: relative;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: darkslateblue;
  opacity: 0.7;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  margin-top: 10px;
  margin-right: 25px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: darkslateblue;
  border: 0 none;
}



 /* fading effects: */
/* about page */

#logo,
footer {
  animation-name: backfade;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

h1,
footer {
  animation-name: frontfade;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes backfade {
  from {background-color: darkslateblue;
    border-color: darkslateblue;}

  to {background-color: rgb(5, 5, 5);
    border-color: rgb(5, 5, 5);}
}

@keyframes frontfade {
  from {color: darkslateblue;
    border-color: darkslateblue;}

  to {color: rgb(5, 5, 5);
    border-color: rgb(5, 5, 5);}
}


 /* fading effects: */
/* portfolio page */
 #logo,
 .auth-image, h4{
   animation-name: backfade;
   animation-duration: 4s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
 }

 h1,
 h2,
 h3 {
   animation-name: frontfade;
   animation-duration: 4s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
 }

 body {
   animation-name: shadowfade;
   animation-duration: 4s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
 }

 #nav-buttons {
  animation-name: navfade;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
 }

 @keyframes backfade {
   from {background-color: darkslateblue;}

   to {background-color: rgb(5, 5, 5);}
 }

 @keyframes frontfade {
   from {color: darkslateblue;}

   to {color: rgb(5, 5, 5);}

   from {text-shadow: 1px 1px 3px black}

   to {text-shadow: 1px 1px 3px white}
 }

 @keyframes shadowfade {
  from {text-shadow: 2px 2px 5px black}

  to {text-shadow: 1px 1px 5px white}
}

@keyframes navfade {
  from {text-shadow: 2px 2px 5px darkslateblue)}

  to {text-shadow: 2px 2px 5px black}
}

 /* fading effects: */
/* contact page */

 #logo, #submit {
   animation-name: backfade;
   animation-duration: 4s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
 }

 h1 {
   animation-name: frontfade;
   animation-duration: 4s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
 }

 @keyframes backfade {
   from {background-color:darkslateblue}
   to {background-color: rgb(5, 5, 5);}
 }

 @keyframes frontfade {
   from {color:darkslateblue}
   to {color: rgb(5, 5, 5);}
 }