/* general */

* {
  box-sizing: border-box;
  /* text-shadow: 0px 5px 5px #0a0a0a; */
  /* text-shadow: 1px 1px 2px black, 0 0 1em gray, 0 0 0.2em white; */
}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
  /* font-size: 18px; */
  /* line-height: 34px; */
  color: #777777;
  background: url("../images/bg.png");
}

#me {
  float:left;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 15ppx;
}

.container {
  width: 100%;
  /* max-width: 960px; */
  margin: 0 auto;
  clear: both;
}

p {
  font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

p:last-child {
  margin-bottom: 0;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  padding: 10px;
  overflow: auto;
  color: #ffffff;
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
  /* background: rgb(1,0,11); */
  background: linear-gradient(151deg, rgba(1,0,11,1) 0%, rgba(47,16,75,1) 26%, rgba(84,85,85,0) 100%);
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  /* font-family: Georgia, Times, "Times New Roman", serif; */
  /* font-size: 30px; */
  font-size: 2rem;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff !important;
  text-align: center;
  text-decoration: none;
  background: darkslateblue;
}

nav {
  margin-top: 35px;
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  /* font-size: 1.2rem; */
  text-decoration: none;
  /* border-left: 1px solid #49484886; */
  text-align: right;
  /* float: right; */
}

.header {
  padding-bottom: 20px;
  /* font-size: 30px; */
  font-size: 2rem;
  line-height: 49px;
  border-bottom: 3px solid #dddddd;
}

/* hyperlinks */
a::after {
  /* content: " (" attr(href) ")"; */
}

a:link {
  /* text-decoration: none; */
  color:#777777;
}

a:visited {
  /* text-decoration: none; */
  color:#777777;
}

a:hover {
  text-decoration: none;
  color: gray !important;
  text-shadow: 1px 1px 1px darkslateblue;
  font-weight: bold;
}

/* footer */

#footer {
  width: 100%;
  padding: 10px 0 10px 0;
  font-size: 0.6rem;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 4px solid rgba(71, 61, 139, 0.5);
}


/* main */

#main-container {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
  max-width: 960px;
}

.main-section {
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 100%;
  overflow: 0 auto;
  padding-right: 10px;
}

.work img {
  /* width: 100%; */
  /* height: 33%; */
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  border: 0 none;
  opacity: 0.7;
}

.work h3, h4 {
  position: relative;
  width: 100%;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  background: darkslateblue;
  opacity: 0.7;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit],
input[type=reset] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: darkslateblue;
  border: 0 none;
}

#buttons {
  text-align: center;
}



 /* fading effects: */

#logo, #submit, #reset,
#footer {
  animation-name: backfade;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#nav-buttons {
  animation-name: navfade;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
 }

h1,
h2,
h3 {
  animation-name: frontfade;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

 .auth-image, h4{
   animation-name: backfade;
   animation-duration: 4s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
 }


 body {
   animation-name: shadowfade;
   animation-duration: 4s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
 }

 @keyframes backfade {
   from {background-color: rgba(71, 61, 139, 0.500);}

   to {background-color: rgba(5, 5, 5, 0.650);}
 }

 @keyframes frontfade {
  from {color: rgba(71, 61, 139, 1);}

   to {color: rgb(5, 5, 5);}
 }

 @keyframes shadowfade {
  from {text-shadow: 2px 2px 5px black}

  to {text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.329)}
}

@keyframes navfade {
  from {text-shadow: 2px 2px 5px darkslateblue}

  to {text-shadow: 2px 2px 5px black}
}